body {
  margin: 0%;
  background-color: black;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  color: chartreuse;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

div {
  margin: 1% 3% 1% 3%;
  padding: 2%;
}

/* headings style start*/
h1,
h3 {
  border-radius: 10px;
  width: fit-content;
}

h3 {
  color: grey;
}

.center {
  text-align: center;
  border-radius: 100px;
  color: aqua;
  border-top: 2px solid white;
  padding-top: 3px;
}
/* headings style end*/

/* header style start*/
header {
  background-image: url("/images/headerImage.jpg");
  background-size: cover;
  height: 100vh;
}

#headerPicture {
  border-radius: 40%;
  width: 350px;
}

.flex-container1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.item-01,
.item-03 {
  padding: 10px;
  width: auto;
  height: 150px;
  border-radius: 40px;
  text-align: center;
}
/* header style end*/

/* navigation menu start */
#navBar {
  position: sticky;
  top: 20px;
  border-top: 1px solid aqua;
}

#navBar > a {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-radius: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 2%;
  background-color: black;
  border-radius: 40px;
  padding: 8px;
}

.grid-item {
  text-align: center;
  padding: 2%;
}
/* navigation menu end*/

/* section content start*/
/* education */
.list-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

#list-item {
  grid-column-start: 2;
  grid-column-end: 2;
  padding: 5px;
}
/* education */

/* certificates */
.certificate-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: (4, 1fr);
}

.certificate-item {
  text-align: center;
  padding: 5px;
}
/* certificates */

/* skills */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 40px;
  flex-wrap: wrap;
  gap: 40px;
}

.flex-item {
  padding: 1px;
}
/* skills */

/* section content end*/

/* footer start*/
footer {
  background-image: url("/images/headerImage.jpg");
  background-size: cover;

  border-radius: 20px;
}

form {
  color: rgba(169, 169, 169, 0.666);
  padding: 3px;
}

input {
  color: white;
  background-color: black;
  border: 2px solid rgb(25, 114, 9);
  border-radius: 10px;
}

textarea,
select,
option {
  background-color: lightgrey;
  color: black;
  border-radius: 10px;
  border: 2px dotted rgb(25, 114, 9);
}
/* footer end*/

/* mobile */
@media only screen and (max-width: 600px) {
  p {
    font-size: 14px;
  }
  #navBar > a {
    color: rgb(244, 14, 175);
  }

  #navBar {
    border: 1px solid rgb(244, 14, 175);
  }

  header {
    background-image: url("/images/headerImage3.jpg");
  }

  #headerPicture {
    width: 240px;
    height: 250px;
  }

  .center {
    color: rgb(244, 14, 175);
  }

  footer {
    border-top: 2px solid rgb(244, 14, 175);
  }
}

/* tablet */
@media only screen and (min-width: 601px) {
  p {
    font-size: 16px;
  }
  #navBar > a {
    color: purple;
  }

  #navBar {
    border-bottom: 1px solid purple;
  }

  header {
    background-image: url("/images/headerImage3.jpg");
  }

  #headerPicture {
    width: 240px;
    height: 250px;
  }

  .center {
    color: purple;
  }

  footer {
    border-top: 2px solid purple;
  }
}

/* laptop */
@media only screen and (min-width: 1024px) {
  p {
    font-size: 15px;
  }
  header {
    background-image: url("/images/headerImage.jpg");
  }

  #navBar > a {
    color: aqua;
  }

  #navBar {
    border-bottom: 1px solid aqua;
  }

  #headerPicture {
    width: 280px;
    height: 280px;
  }

  .center {
    color: aqua;
  }

  footer {
    border-top: 2px solid aqua;
  }
}

/* keyframes */
@keyframes animatedIcon {
  0% {
    transform: scale(90%);
  }

  25% {
    filter: contrast(3px);
  }

  50% {
    filter: brightness(150%);
  }

  100% {
    transform: translate(0px, -10px);
  }
}

a:hover {
  animation-name: animatedIcon;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes animatedImage {
  0% {
    transform: scale(100%);
  }

  25% {
    filter: brightness(80%);
  }

  50% {
    transform: scale(120%);
  }

  100% {
    transform: scale(100%);
  }
}

img:hover {
  animation-name: animatedImage;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes animatedNav {
  0% {
    color: white;
  }

  100% {
    color: white;
  }
}

nav > .grid-item:hover {
  animation-name: animatedNav;
  animation-delay: 0ms;
  animation-duration: 10s;
  animation-iteration-count: 1;
}
